@using uef_diem_danh.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<SuKien>
@{
	Layout = "~/Views/Layout/Main.cshtml";
	ViewData["Title"] = "Quản lý sự kiện";
}

<div>
	@if (TempData["EventSuccessMessage"] != null)
	{
		<div class="bg-success p-2 text-white text-center">
            @TempData["EventSuccessMessage"]
		</div>
	}
	@if (TempData["EventErrorMessage"] != null)
	{
		<div class="bg-danger p-2 text-white text-center">
            @TempData["EventErrorMessage"]
		</div>
	}

    <div>
        <div class="d-flex justify-content-between align-items-start mb-3">
            <div>
                <h2 class="table-title">Quản lý sự kiện</h2>
            </div>
            <div>
                <button type="button"
                        class="btn-next-secondary btn-sm btn-add"
                        data-bs-toggle="modal"
                        data-bs-target="#popupThemSuKien">
                    Thêm sự kiện
                </button>
            </div>
        </div>
        <div class="table-wrapper">
            <table class="fl-table" id="eventTable">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Tiêu đề</th>
                        <th class="text-center">Người phụ trách</th>
                        <th class="text-center">Số lượng dự kiến</th>
                        <th class="text-center">Thời gian</th>
                        <th class="text-center">Thao tác</th>
                        <th class="text-center">Màn hình điểm danh</th>
                        <th class="text-center">Kết quả</th>
                    </tr>
                </thead>
				<tbody id="eventsTableBody">
					@{
						int stt = 1;
					}
					@foreach (var evt in Model)
					{
						<tr>
							<td class="text-center">@stt</td>
                            <td class="text-center">@evt.TieuDe</td>
                            <td class="text-center">@evt.NguoiPhuTrach</td>
                            <td class="text-center">@evt.SoLuongDuKien</td>
                            <td class="text-center">@evt.ThoiGian</td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                            type="button"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="dropdown-item btn-edit"
                                                    data-id="@evt.Id"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#popupSuaSuKien"
                                                    onclick="initUpdateEventFields(@evt.Id)">
                                                Sửa
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item btn btn-outline-danger btn-sm btn-delete"
                                                    data-id="@evt.Id"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#popupXoaSuKien"
                                                    onclick="initDeleteEventField(@evt.Id)">
                                                Xóa
                                            </button>
                                        </li>
                                        @if(evt.TrangThai == true)
                                        {
                                            <li>
                                                <button class="dropdown-item btn btn-outline-danger btn-sm btn-delete"
                                                        data-id="@evt.Id"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#popupKhoaSuKien"
                                                        onclick="initLockEvent(@evt.Id)">
                                                    Khóa
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </td>
                            <td class="text-center">
                                @if(evt.TrangThai == true)
                                {
                                    <button class="btn btn-outline-danger btn-sm btn-qr"
                                            data-id="@evt.Id"
                                            data-bs-toggle="modal"
                                            data-bs-target="#qrModal"
                                            onclick="genQrCode(@evt.Id)">
                                        Điểm danh
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-outline-danger bg-danger text-white btn-sm"
                                            href="#"
                                            disabled>
                                        Đã Khóa
                                    </button>
                                }
                            </td>
                            <td class="text-center"><a href="/ket-qua-diem-danh-su-kien/@evt.Id">Kết quả</a></td>
							@{

								stt++;
							}
						</tr>
					}

                </tbody>
            </table>
            <!-- Pagination -->
            <div style="padding-top: 20px; padding-bottom: 5px">
                <ul id="paginationContainer" class="d-flex justify-content-lg-center">
                </ul>
            </div>
        </div>
    </div>

    

</div>

<script src="/js/Event.js"></script>

<!-- Modal: Thêm sự kiện -->
@await Html.PartialAsync("/Views/Component/CreateEventModal.cshtml", new uef_diem_danh.DTOs.EventCreateRequest())

<!-- Modal: Sửa sự kiện -->
@await Html.PartialAsync("/Views/Component/UpdateEventModal.cshtml", new uef_diem_danh.DTOs.EventUpdateRequest())

<!-- Modal: Xoá sự kiện -->
@await Html.PartialAsync("/Views/Component/DeleteEventModal.cshtml", new uef_diem_danh.DTOs.EventDeleteRequest())

<!-- Modal: Khóa sự kiện -->
@await Html.PartialAsync("/Views/Component/LockEventModal.cshtml", new uef_diem_danh.DTOs.EventDeleteRequest())

<!-- Modal: QR code điểm danh-->
@await Html.PartialAsync("/Views/Component/QRCodeForTakingAttendance.cshtml")



