@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model uef_diem_danh.DTOs.StudyClassClassSessionListManagementResponse
@{
    Layout = "~/Views/Layout/Main.cshtml";
    ViewData["Title"] = "Quản lý buổi học của lớp học";
}

<div>
    @if (TempData["ClassSuccessMessage"] != null)
    {
        <div class="bg-success text-white text-center p-2">
            @TempData["ClassSuccessMessage"]
        </div>
    }
    @if (TempData["ClassErrorMessage"] != null)
    {
        <div class="bg-danger text-white text-center p-2">
            @TempData["ClassErrorMessage"]
        </div>
    }
    <div class="d-flex justify-content-between align-items-start mb-3">
        <div>
            <h2 class="table-title">Quản lý buổi học</h2>
            <h3>Lớp: <strong>@Model.StudyClassName</strong></h3>
        </div>
        <div>
            <button type="button"
                    class="btn-next-secondary btn -sm btn-add"
                    data-bs-toggle="modal"
                    data-bs-target="#popupThemBuoiHoc"
                    data-id="@Model.StudyClassId" 
                    onclick="initAddClassFields(@Model.StudyClassId)">
                Thêm Buổi Học
            </button>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Buổi học</th>
                    <th>Số tiết</th>
                    <th>Thời gian</th>
                    <th>Số lượng</th>
                    <th>Hiện diện</th>
                    <th>Kết quả điểm danh</th>
                    <th>Màn hình điểm danh</th>
                    <th>Khóa điểm danh</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="classSessionTableBody">
                @{
                    int stt = 1;
                }
                @foreach (var classSession in Model.ClassSessions)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@classSession.ClassSessionName</td>
                        <td>@classSession.ClassSessionNumber</td>
                        <td>@classSession.ClassSessionTime.ToString("dd/MM/yyyy")</td>
                        <td>@classSession.ClassTotalStudent</td>
                        <td>@classSession.ClassSessionAttendanceCount</td>
                        <td>
                            @if (classSession.ClassSessionStatus == true)
                            {
                                <button class="btn btn-outline-danger bg-danger text-white btn-sm"
                                        href="#"
                                        disabled>
                                    Chưa Khóa điểm danh
                                </button>
                            }
                            else
                            {
                                <a class="btn btn-outline-primary btn-sm btn-view-students"
                                   href="/ket-qua-diem-danh?studyClassId=@Model.StudyClassId&classSessionId=@classSession.ClassSessionId"
                                   target="_blank">
                                    Xem
                                </a>
                            }
                        </td>
                        <td>
                            @if (classSession.ClassSessionStatus == true)
                            {
                                <a class="btn btn-outline-primary btn-sm"
                                   target="_blank"
                                   href="/diem-danh-hoc-vien?studyClassId=@ViewBag.StudyClassId&classSessionId=@classSession.ClassSessionId">
                                    Điểm danh
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-outline-danger bg-danger text-white btn-sm"
                                        href="#"
                                        disabled>
                                    Đã khóa điểm danh
                                </button>
                            }
                        </td>
                        <td>
                            @if (classSession.ClassSessionStatus == true)
                            {      
                                <form method="POST" action="/khoa-diem-danh-buoi-hoc?studyClassId=@Model.StudyClassId&classSessionId=@classSession.ClassSessionId">
                                    @Html.AntiForgeryToken()

                                    <button 
                                        type="submit"
                                        class="btn btn-outline-primary btn-sm"
                                       >
                                        Khóa
                                    </button>
                                </form>
                            } 
                            else
                            {
                                <button 
                                    class="btn btn-outline-danger bg-danger text-white btn-sm"
                                    href="#" 
                                    disabled>
                                    Đã Khóa
                                </button>
                            }
                        </td>
                        <td>
                            <button class="btn btn-outline-secondary btn-sm btn-edit"
                                    data-id="@classSession.ClassSessionId"
                                    data-bs-toggle="modal"
                                    data-bs-target="#popupSuaBuoiHoc"
                                    onclick="initUpdateClassFields(@classSession.ClassSessionId)">
                                Sửa
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm btn-delete"
                                    data-id="@classSession.ClassSessionId"
                                    data-bs-toggle="modal"
                                    data-bs-target="#popupXoaBuoiHoc"
                                    onclick="initDeleteClassField(@Model.StudyClassId ,@classSession.ClassSessionId)">
                                Xoá
                            </button>
                        </td>
                    </tr>

                    stt++;
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("/Views/Component/CreateClassModal.cshtml", new uef_diem_danh.DTOs.ClassCreateRequest())

@await Html.PartialAsync("/Views/Component/UpdateClassModal.cshtml", new uef_diem_danh.DTOs.ClassUpdateRequest())

@await Html.PartialAsync("/Views/Component/DeleteClassModal.cshtml", new uef_diem_danh.DTOs.ClassDeleteRequest())


<script src="~/js/Class.js"></script>