@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<uef_diem_danh.DTOs.StudyClassListManagementResponse>
@{
	Layout = "~/Views/Layout/Main.cshtml";
	ViewData["Title"] = "Quản lý lớp học";
}

<div>
	@if (TempData["StudyClassSuccessMessage"] != null)
	{
		<div class="bg-success p-2 text-white text-center">
			@TempData["StudyClassSuccessMessage"]
		</div>
	}
	@if (TempData["StudyClassErrorMessage"] != null)
	{
		<div class="bg-danger p-2 text-white text-center">
			@TempData["StudyClassErrorMessage"]
		</div>
	}
	<div class="d-flex justify-content-between align-items-start mb-3">
		<div style="width: 20rem">
			<h2 class="table-title">Quản lý lớp học</h2>
			<div class="d-flex search-row">
				<form
					id="searchOrderStudyClassForm"
					style="width: 100%"
					onsubmit="return preventSearchStudyClassSubmit()">

					<input id="studyClassSearchInput"
						   class="form-control form-control-sm" 
						   name="StudyClassName"
						   placeholder="Tìm theo tên lớp..."
						   style="width: 70%; display: inline"/>
					<button 
						type="button"
						class="btn-next-secondary btn-sm" 
						id="btnSearch" 
						onclick="searchStudyClass()">
						Tìm
					</button>
				</form>
			</div>
		</div>
		<div>
			<button type="button"
					class="btn-next-secondary btn -sm btn-add"
					data-bs-toggle="modal"
					data-bs-target="#popupThemLop">
				Thêm lớp học
			</button>
		</div>
	</div>

	<div class="table-wrapper">
		<div id="searchResultLabel" style="display: none">Kết quả tìm kiếm: </div>
		<table id="studyClassTable" class="fl-table">
			<thead>
				<tr>
                    <th class="text-center">STT</th>
					<th class="text-center">Tên lớp</th>
					<th class="text-center">Giáo viên phụ trách</th>
					<th class="text-center">Ngày bắt đầu</th>
					<th class="text-center">Ngày kết thúc</th>
					<th class="text-center">DS Học viên</th>
					<th class="text-center">DS Buổi học</th>
					<th class="text-center"></th>
					<th class="text-center"></th>
				</tr>
			</thead>
			<tbody id="classesTableBody">
				@{
					int count = 1;
				}
				@foreach (var studyClass in Model)
				{
					<tr>
						<td class="text-center">@count</td>
						@{
							count++;
						}
                        <td class="text-center">@studyClass.StudyClassName</td>
						<td class="text-center">@studyClass.TeacherFullName</td>
						<td class="text-center">@studyClass.StartDate.ToString("dd/MM/yyyy")</td>
						<td class="text-center">@studyClass.EndDate.ToString("dd/MM/yyyy")</td>
						<td class="text-center">
							<a 
								class="btn btn-outline-primary btn-sm btn-view-students" 
								href="/quan-ly-danh-sach-lop-hoc/@studyClass.Id/quan-ly-danh-sach-hoc-vien">
								Xem
							</a>
						</td>
						<td class="text-center">
							<a 
								class="btn btn-outline-primary btn-sm"
								href="/quan-ly-danh-sach-lop-hoc/@studyClass.Id/quan-ly-danh-sach-buoi-hoc">
								Xem
							</a>
						</td>
						@if(studyClass.NumberOfAttendaces == 0)
						{
							<td class="text-center">
								<button 
									class="btn btn-outline-secondary btn-sm btn-edit" 
									data-id="@studyClass.Id"
									data-bs-toggle="modal" 
									data-bs-target="#popupSuaLop" 
									onclick="initUpdateStudyClassFields(@studyClass.Id)">
									Sửa
								</button>
							</td>
						} 
						else
						{
							<td class="text-center">
								<button class="btn btn-outline-danger bg-danger text-white btn-sm" disabled>
									Sửa
								</button>
							</td>
						}
						<td class="text-center">
							<button 
								class="btn btn-outline-danger btn-sm btn-delete" 
								data-id="@studyClass.Id" 
								data-bs-toggle="modal" 
								data-bs-target="#popupXoaLop" 
								onclick="initDeleteStudyClassField(@studyClass.Id)">
								Xoá
							</button>
						</td>
					</tr>
				}
			</tbody>
		</table>

		<!-- Pagination -->
		<div style="padding-top: 20px; padding-bottom: 5px">
			<ul id="paginationContainer" class="d-flex justify-content-lg-center">
			</ul>
		</div>
	</div>
</div>

<!-- Modal: Thêm lớp -->
@await Html.PartialAsync("/Views/Component/CreateStudyClassModal.cshtml", new uef_diem_danh.DTOs.StudyClassCreateRequest())

<!-- Modal: Sửa lớp -->
@await Html.PartialAsync("/Views/Component/UpdateStudyClassModal.cshtml", new uef_diem_danh.DTOs.StudyClassUpdateRequest())


<!-- Modal: Xoá lớp -->
@await Html.PartialAsync("/Views/Component/DeleteStudyClassModal.cshtml", new uef_diem_danh.DTOs.StudyClassDeleteRequest())


<!-- Modal: Import học viên -->
<div class="modal fade"
	 id="popupImport"
	 tabindex="-1"
	 aria-labelledby="popupImportLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="popupImportLabel">
					Import danh sách học viên
				</h5>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Đóng"></button>
			</div>
			<div class="modal-body">
				<div class="mb-2">
					<button id="btnDownloadTemplate"
							class="btn-next-secondary btn-sm">
						Tải danh sách học viên
					</button>
				</div>
				<div class="uploader">
					<input type="file"
						   id="fileImport"
						   accept=".csv,.xlsx,.xls"
						   class="form-control" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button"
						class="btn-next-secondary"
						data-bs-dismiss="modal">
					Đóng
				</button>
				<button type="button"
						class="btn-next-primary"
						id="btnThucHienImport">
					Import
				</button>
			</div>
		</div>
	</div>
</div>



<script src="~/js/StudyClass.js"></script>

