@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layout/Main.cshtml";
    ViewData["Title"] = "Quản lý điểm danh";
}
@model List<uef_diem_danh.DTOs.AttendanceListManagementResponse>

<div>
    @* <div class="d-flex justify-content-between align-items-start mb-3">
        <div style="width: 20rem">
            <h2 class="mb-1">Quản lý điểm danh</h2>
            <div class="d-flex search-row">
                <form id="searchAttendanceForm"
                      style="width: 100%"
                      onsubmit="return preventSearchAttendancesSubmit()">

                    <input id="attendanceSearchInput"
                           class="form-control form-control-sm" 
                           name="attendanceSearchInput"
                           placeholder="Tìm môn học hoặc buổi học..."
                           style="width: 70%; display: inline" />
                    <button type="button"
                            class="btn-next-secondary btn-sm"
                            id="btnSearch"
                            onclick="searchAttendances()">
                        Tìm
                    </button>
                </form>
            </div>
        </div>
    </div> *@

    <div class="mb-3 flex-column">
        <div>
            <h2 class="table-title">Quản lý điểm danh</h2>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Khối tìm kiếm bên trái -->
            <div class="d-flex search-row" style="flex: 1">
                <form id="searchAttendanceForm" class="d-flex w-100" onsubmit="return preventSearchAttendancesSubmit()">
                    <input id="attendanceSearchInput"
                           class="form-control form-control-sm  me-2"
                           name="attendanceSearchInput"
                           placeholder="Tìm môn học hoặc buổi học..."
                           style="width: 20rem;" />
                    <button type="button"
                            class="btn-next-secondary btn-sm"
                            id="btnSearch"
                            onclick="searchAttendances()">
                        Tìm
                    </button>
                </form>
            </div>
        </div>

    </div>

    <div class="table-wrapper">
        <table id="attendanceManagementTable" class="fl-table">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Môn học</th>
                    <th class="text-center">Buổi học</th>
                    <th class="text-center">Kết quả điểm danh</th>
                </tr>
            </thead>
            <tbody id="sessionsTbody">
				@foreach (var studySesstion in Model)
				{
                    <input
                        type="hidden" 
                        name="studyClassId_@studySesstion.StudyClassId" 
                        id="studySessionId_@studySesstion.StudyClassId" 
                        value="@studySesstion.StudyClassId" />
                    <input 
                        type="hidden"
                        name="classSessionId_@studySesstion.ClassSessionId"
                        id="studySessionId_@studySesstion.ClassSessionId" 
                        value="@studySesstion.ClassSessionId" />

					<tr>
						<td class="text-center">
 							@studySesstion.Stt
						</td>
						<td class="text-center">@studySesstion.StudyClassName</td>
						<td class="text-center">Buổi @studySesstion.ClassSessionNumber</td>
						<td class="text-center">
							<a class="btn btn-outline-primary btn-sm btn-view-students"
                               href="/ket-qua-diem-danh?studyClassId=@studySesstion.StudyClassId&classSessionId=@studySesstion.ClassSessionId"
                                target="_blank">
								Xem
							</a>
						</td>
					</tr>
				}
            </tbody>
        </table>

        <!-- Pagination -->
        <div style="padding-top: 20px; padding-bottom: 5px">
            <ul id="paginationContainer" class="d-flex justify-content-lg-center">
            </ul>
        </div>
    </div>
</div>



<script type="module" src="~/js/Attendance.js"></script>